<% content_for :header_sub do %>
	<header class="bg-gradient-to-r from-purple-900 to-indigo-800 text-white py-4">
		<div class="container mx-auto px-8 flex justify-between items-center">
			<h1 class="text-2xl font-bold tracking-tight leading-tight"><i class="fa-solid fa-location-dot"></i> <%= current_user.user_name %>のホーム</h1>
			<div class="bg-gradient-to-r from-purple-900 to-indigo-800 flex justify-center space-x-2 py-2">
				<a href="<%= lists_path(view: 'own') %>" class="btn btn-sm btn-primary  <%= 'bg-gradient-to-r from-violet-600 to-fuchsia-700' if params[:view].nil? || params[:view] == 'own' %>">マイリスト</a>
				<a href="<%= lists_path(view: 'public') %>" class="btn btn-sm btn-primary <%= 'bg-gradient-to-r from-violet-600 to-fuchsia-700' if params[:view] == 'public' %>">一般リスト</a>
				<a href="<%= lists_path(view: 'bookmarked') %>" class="btn btn-sm btn-primary <%= 'bg-gradient-to-r from-violet-600 to-fuchsia-700' if params[:view] == 'bookmarked' %>">ブックマーク</a>
			</div>
			<div class="text-sm text-gray-300 breadcrumbs">
			</div>
		</div>
	</header>
	<% if params[:view].nil? || params[:view] == 'own' %>
		<% if @lists.empty? %>
			<%= render 'lists/empty' %>
		<% else %>
			<%= render 'lists/user_info' %>
		<% end %>
		<% if @lists.any? { |list| list.artists.empty? } %>
			<%= render 'lists/artist_empty' %>
		<% end %>
	<% end %>
<% end %>

<% if params[:view].nil? || params[:view] == 'own' %>
	<div class='py-4 text-center'>
		<% if current_user.lists.count < 9 %>
			<button class="btn btn-wide btn-secondary btn-outline text-xl" onclick="my_modal_2.showModal()"><i class="fa-regular fa-square-plus"></i>新規リスト作成</button>
			<dialog id="my_modal_2" class="modal">
				<div class="modal-box bg-slate-400">
					<div id="modal-content"></div>
					<%= render 'lists/new' %>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>
		<% else %>
			<button class="btn btn-wide btn-secondary btn-outline text-xl" onclick="my_modal_3.showModal()"><i class="fa-solid fa-ban"></i>新規リスト作成</button>
			<dialog id="my_modal_3" class="modal">
				<div class="modal-box bg-slate-300 text-slate-600 font-medium">
					<div id="modal-content"></div>
					<div>info: 一度に持てるリストは9つまでです</div>
					<div class="text-amber-700" >既存のリストは左端のアイコンから削除できます</div>
				</div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>
		<% end %>
	</div>
<% end %>

<div class="container mx-auto my-4 px-2 border border-slate-500 rounded-lg shadow-lg">
	<div class="flex flex-wrap justify-center">
		<% @lists.each do |list| %>
			<div class="w-full xl:w-1/2 p-4">
				<div class="bg-gradient-to-r from-purple-900 to-indigo-800 text-white rounded-lg shadow-md hover:shadow-lg transition duration-300 ease-in-out">
					<div class="flex p-6 justify-between">
						<div>
						<h1 class="text-3xl font-bold">
							<% if current_user == list.user %>
								<%= link_to list_path(list), class: 'text-rose-500 hover:text-error active:text-rose-600 active:shadow-inner', data: { turbo_method: :delete , turbo_confirm: 'このリストを削除しますか?' }  do %>
									<i class="fa-regular fa-square-minus"></i>
								<% end %>
								<%= link_to list.name, list_path(list), class: 'text-white hover:text-blue-300 active:text-blue-500 active:shadow-inner' %>
								<%= link_to edit_list_path(list), class: 'text-indigo-400 hover:text-blue-300 active:text-blue-500 active:shadow-inner text-xl' do %>
									<i class="fa-regular fa-pen-to-square"></i>
								<% end %>
							<% else %>
								<%= link_to list.name, list_path(list), class: 'text-white hover:text-blue-300 active:text-blue-500 active:shadow-inner' %>
							<% end %>
						</h1>
							<p class="text-gray-300 text-sm">
								<% if list.artists.first %>
									<%= list.artists.first.name %> ...
								<% else %>
									空白のリストです
								<% end %>
							</p>
						</div>
						<div>
							<%= link_to "このリストへ", list_path(list), class: 'btn btn-outline btn-info' %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div class="container mx-auto py-4 px-8 grid grid-cols-1 md:grid-cols-2 gap-4 ">
	<div class="z-10">
		<h1 class="text-7xl font-bold tracking-tight leading-tight">UNEXPLORED</h1>
		<h1 class="text-7xl font-bold tracking-tight leading-tight">MUSIC</h1>
	</div>
		<div class="flex flex-col justify-center max-w-xs">
			<%= image_tag 'icon_big.jpg', alt: 'Icon', class: 'shadow-lg rounded-full object-cover h-full' %>
		</div>
</div>