<div class="container mx-auto my-4 px-4 border border-red-500">
	<h1 class="text-center text-4xl font-bold mb-4">リスト内のアーティスト一覧</h1>
  
		<div class="mx-auto max-w-xl px-4 border border-red-500">
      <% if @list.artists.count >= 10 %>
        <p>１つのリストに追加できるアーティストは合計10人までです</p>
      <% else %>
        <%= form_with(url: list_artists_path(@list), method: :post, class: "flex flex-col space-y-4") do |form| %>
          <div class="flex flex-col">
            <%= form.label :name, "アーティストを追加する", class: "font-bold text-lg mb-2" %>
            <%= form.text_field :name, class: "border-2 border-gray-300 p-2 rounded-md", placeholder: "追加するアーティスト名" %>
          </div>
          <%= form.submit "追加", class: "bg-blue-500 text-white p-2 rounded-md" %>
        <% end %>
      <% end %>
      <div class='text-center p-4'>
        <%= link_to 'リスト一覧に戻る', lists_path, class: 'btn btn-primary' %>
        <%= link_to "レコメンド", list_song_path(@list), class: 'btn btn-secondary' %>
      </div>
    </div>

    <% if @list.artists.present? %>
      <% @list.list_artists.order(created_at: :desc).each do |list_artist| %>
        <% artist = list_artist.artist %>
        <div class="mx-auto max-w-xl px-4 py-4 border border-red-500">
          <div class="hero rounded-lg bg-gradient-to-r from-blue-500 to-fuchsia-500">
            <div class="hero-content flex-col lg:flex-row">
              <div class="w-32 rounded">
                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
              </div>
              <div>
                <h1 class="text-4xl font-bold"><%= artist.name %></h1>
                <p class="py-2">
                  これはジャンルです。これはジャンルです。これはす。
                </p>
                  <%= link_to '削除', list_artist_path(@list, artist), data: { turbo_method: :delete , turbo_confirm: 'Are you sure?' }, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>