<!-- Header Section -->
<section class="bg-gradient-to-r from-purple-900 to-indigo-800 text-white py-16 shadow-lg">
  <div class="container mx-auto px-8 grid grid-cols-1 md:grid-cols-2 gap-4 ">
    <div class="z-10">
      <h1 class="md:text-7xl text-5xl font-bold tracking-tight leading-tight">UNEXPLORED</h1>
      <h1 class="md:text-7xl text-5xl font-bold tracking-tight leading-tight">MUSIC</h1>
      <p class="mt-4 text-lg">Find Your Future Fav Music.</p>
    </div>
      <div class="flex flex-col justify-center max-w-xs">
        <%= image_tag 'icon_big.jpg', alt: 'Icon', class: 'shadow-lg rounded-full object-cover h-full' %>
      </div>
  </div>
</section>

<!-- Main Content Section -->
<section class="py-16">
  <div class="container mx-auto px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="flex flex-col justify-center max-w-lg">
        <%= image_tag 'top.jpg', alt: 'Icon', class: 'btn btn-ghost shadow-lg rounded-lg object-cover h-full' %>
      </div>
      <div class="flex flex-col justify-center">
        <h2 class="text-3xl md:text-4xl font-bold mb-6">あなたの未来の推しジャンル、見つけませんか？</h2>
        <p class="text-lg mb-8">Unexplored Musicは、好きなアーティストの情報をもとに、まだユーザーが知らないジャンルを推定し、新鮮な音楽体験を提供するサービスです。</p>
        <a class="shadow-lg inline-block px-8 py-4 bg-gradient-to-r from-purple-900 to-indigo-800 text-white rounded hover:bg-gradient-to-r hover:from-purple-600 hover:to-indigo-700 transition duration-300"></a>
      </div>
    </div>
  </div>
</section>
<section class="py-16">
  <div class="container mx-auto px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="flex flex-col justify-center max-w-xl md:hidden">
        <%= image_tag 'top2.jpg', alt: 'Icon', class: 'btn btn-ghost shadow-lg rounded-lg object-cover h-full' %>
      </div>
      <div class="flex flex-col justify-center">
        <h2 class="text-3xl md:text-4xl font-bold mb-6">手軽に利用できる音楽レコメンデーション</h2>
        <p class="text-lg mb-8">作成したリストにアーティストを追加するだけです。自動で豊富なジャンルデータから取得された情報がまとめられ、ユーザーにとって新奇性のあるレコメンドの準備がされます。</p>
        <a class="hadow-lg inline-block px-8 py-4 bg-gradient-to-r from-purple-900 to-indigo-800 text-white rounded hover:bg-gradient-to-r hover:from-purple-600 hover:to-indigo-700 transition duration-300"></a>
      </div>
      <div class="flex flex-col justify-center max-w-xl md:block hidden">
        <%= image_tag 'top2.jpg', alt: 'Icon', class: 'btn btn-ghost shadow-lg rounded-lg object-cover h-full' %>
      </div>
    </div>
  </div>
</section>
<section class="py-14">
  <div class="container mx-auto px-8">
    <div class="grid grid-cols-1 gap-12">
      <div class="flex flex-col justify-center">
        <h1 class="md:text-7xl text-5xl font-bold tracking-tight leading-tight">LET THE</h1>
        <h1 class="md:text-7xl text-5xl font-bold tracking-tight leading-tight">MUSIC</h1>
        <h1 class="md:text-7xl text-5xl font-bold tracking-tight leading-tight">FIND YOU !</h1>
        <%= link_to '→ スタート！', logged_in? ? lists_path : login_path, class: 'font-bold animate-pulse my-4 shadow-lg inline-block px-8 py-6 bg-gradient-to-r from-rose-600 text-center to-indigo-600 text-2xl text-white rounded-lg hover:bg-gradient-to-r hover:from-rose-500 hover:to-indigo-500 active:bg-gradient-to-r active:from-rose-700 active:to-indigo-700 transition duration-300' %>
      </div>
    </div>
  </div>
</section>
</section>
<div class="container item-center mx-auto py-4 px-8 flex flex-col justify-center max-w-md">
  <%= image_tag 'icon_big.jpg', alt: 'Icon', class: 'btn btn-ghost shadow-lg rounded-full object-cover h-full' %>
</div>
<section class="py-8">