<% content_for :header_sub do %>
  <div class="md:hidden">
    <div class="text-center font-bold btn btn-xs btn-secondary my-2">
      <%= link_to lists_path do %>
        <i class="fa-solid fa-arrow-left"></i> ホームへ
      <% end %>
    </div>
  </div>
<% end %>
<div class="container mx-auto my-4 py-4 px-4 rounded-lg flex items-center justify-center ">
  <div class="animate-fade-in-bottom bg-gradient-to-r from-slate-400 to-purple-200 mx-auto max-w-sm py-4 px-4 rounded-lg shadow-xl m-auto">
      <h1 class="text-center text-3xl font-bold mb-6"><i class="fa-solid fa-user-cog"></i> ユーザー情報</h1>
      <%= form_with model: @user, local: true do |f| %>
        <div class="mb-4">
          <%= f.label :ユーザー名 %>
          <%= f.text_field :user_name, class: 'input input-bordered w-full', placeholder: "Name" %>
        </div>
        <div class="mb-4">
          <%= f.label :メールアドレス %>
          <a class=' w-full'>: <%= @user.email %></a>
        </div>
        <div class="mb-4">
          <%= f.submit 'ユーザー情報を保存', class: 'btn btn-primary w-full', data: {turbo_confirm: 'この内容でユーザー情報を更新しますか?' } %>
        </div>
      <% end %>
      <div class='link-hover text-center'>
        <%= link_to 'ホームへ', lists_path %>
      </div>
  </div>
</div>