<div class="container mx-auto my-4 py-4 px-4 rounded-lg flex flex-col items-center justify-center ">
  <div class="bg-gradient-to-r from-slate-400 to-purple-200 font-medium mx-auto max-w-md py-4 px-4 border border-gray-500 rounded-lg shadow-lg m-auto">
      <h1 class="text-center text-3xl font-bold mb-6"><i class="fa-solid fa-user-plus"></i> ユーザー登録</h1>
      <%= form_with model: @user, local: true do |f| %>
        <div class="mb-4">
          <%= f.label :ユーザー名 %>
          <%= f.text_field :user_name, class: 'input input-bordered w-full', placeholder: "Name" %>
        </div>
        <div class="mb-4">
          <%= f.label :メールアドレス（使用可能なアドレス） %>
          <%= f.email_field :email, class: 'input input-bordered w-full', placeholder: "email@sample.com" %>
        </div>
        <div class="mb-4">
          <%= f.label :パスワード（英数字8文字以上） %>
          <%= f.password_field :password, class: 'input input-bordered w-full', placeholder: "Password" %>
        </div>
        <div class="mb-4">
          <%= f.label :パスワード確認 %>
          <%= f.password_field :password_confirmation, class: 'input input-bordered w-full', placeholder: "Password" %>
        </div>
        <div class="mb-4">
          <%= f.submit '登録', class: 'btn btn-primary w-full' %>
        </div>
      <% end %>
      <p class="flex justify-center font-bold py-2">もしくは</p>
      <%= link_to auth_at_provider_path(provider: :google), class: "btn w-full" do %>
        <p class="text-primary"><i class="fa-brands fa-google"></i></p>
        Googleで 登録 / ログイン
      <% end %>
      <div class="divider divider-neutral py-4">ログインは以下から</div>
      <div class='link-hover text-center text-primary font-bold'>
        <%= link_to 'ログインページへ', login_path , class: 'btn btn-neutral w-full'%>
      </div>
  </div>
</div>