<% content_for :header_sub do %>
	<header class="bg-gradient-to-r from-purple-900 to-indigo-800 text-white py-4">
		<div class="container mx-auto px-8 flex justify-between items-center">
			<h1 class="text-2xl font-bold tracking-tight leading-tight"><i class="fa-solid fa-location-dot"></i> <%= current_user.user_name %>のホーム</h1>
			<div class="bg-gradient-to-r from-purple-900 to-indigo-800 flex justify-center space-x-2 py-2">
				<%= link_to lists_path(view: 'own'), class: "btn btn-sm btn-primary " do %>
					マイリスト
				<% end %>
				<%= link_to lists_path(view: 'public'), class: "btn btn-sm btn-primary" do %>
					公開リスト
				<% end %>
				<%= link_to lists_path(view: 'bookmarked'), class: "btn btn-sm btn-primary" do %>
					<i class="fa-solid fa-bookmark"></i>リスト
				<% end %>
				<%= link_to rates_path, class: "btn btn-sm btn-primary #{'bg-gradient-to-r from-violet-600 to-fuchsia-700' if request.original_url == rates_url }" do %>
					<i class="fa-solid fa-star"></i>楽曲
				<% end %>
			</div>
			<div class="text-sm text-gray-300 breadcrumbs">
			</div>
		</div>
	</header>
<% end %>

<% @rates.each do |rate| %>
  <p>アーティスト名: <%= rate.song.artist.name %></p>
  <p>曲名: <%= rate.song.name %></p>
  <p>レーティング: <%= rate.score %></p>
<% end %>