<% content_for :header_sub do %>
<div class="md:hidden">
  <div class="text-left font-bold btn btn-xs btn-outline btn-secondary">
    <%= link_to rates_path do %>
      <i class="fa-solid fa-arrow-left"></i>戻る
    <% end %>
  </div>
</div>
<header class="bg-gradient-to-r from-purple-900 to-indigo-800 text-white py-4">
    <div class="container mx-auto px-8 flex justify-between items-center">
      <div class="md:block hidden">
        <h1 class="text-xl text-rose-200 font-bold tracking-tight leading-tight pb-2"><i class="fa-solid fa-music"></i> : <%= @rate.song.artist.name %> - <%= @rate.song.name %></h1>
      </div>
      <div class="md:hidden">
        <h1 class="text-lg text-rose-500 font-semibold tracking-tight leading-tight pb-2"><%= @rate.song.artist.name %> : </h1>
        <h1 class="text-center text-xl text-rose-300 font-bold tracking-tight leading-tight pb-2"><i class="fa-solid fa-music"></i> <%= @rate.song.name %></h1>
      </div>
      <div class="text-xs text-gray-300 breadcrumbs md:block hidden">
        <ul>
					<li><%= link_to raw('ホーム(<i class="fa-solid fa-star"></i>楽曲)'), rates_path %></li> 
          <li><a>リプレイ</a></li> 
        </ul>
      </div>
    </div>
  </header>
<% end %>
<div class="my-4 mx-4 flex justify-center">
  <iframe class="w-full" src="<%= @player_url %>"  
    width="60%" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
<%= form_with(model: @rate, class: "flex flex-col items-center justify-center space-y-4") do |form| %>
  <div class="rating">
    <% (1..3).each do |i| %>
      <%= form.radio_button :score, i, class: "mask mask-star", checked: i == @rate.score %>
    <% end %>
  </div>
  <%= form.submit "レーティングを保存", class: "btn btn-wide bg-amber-300 hover:bg-amber-500 font-bold py-2 px-4 rounded-lg flex justify-center items-center" %>
<% end %>
<div class="my-4 mx-4 flex justify-center">
  <%= link_to rates_path, class: "btn btn-wide font-bold py-2 px-4 rounded-lg flex justify-center items-center" do %>
    <i class="fa-solid fa-arrow-left"></i> レーティング一覧に戻る
  <% end %>
</div>