<!DOCTYPE html>
<html>
  <head>
    <title>unexplored</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <header>
        <% if logged_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
      </header>
      <main class="flex-grow">
        <div id="flash_message">
          <%= render 'shared/flash_message' %>
        </div>
        <%= yield %>
      </main>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>
