<!DOCTYPE html>
<html>
  <head>
    <title>Unexplored Music</title>
    <%= favicon_link_tag('icon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/4f86ed297f.js" crossorigin="anonymous"></script>
    <%= display_meta_tags(default_meta_tags) %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N4WYX94PFG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N4WYX94PFG');
    </script>
  </head>
  <body data-list-id="<%= @list&.id %>">
    <div class="flex flex-col min-h-screen">
      <header>
        <% if logged_in? %>
          <%= render 'shared/header' %>
        <% else %>
          <%= render 'shared/before_login_header' %>
        <% end %>
      </header>
    <div class="fixed inset-0 z-[-1] bg-gradient-to-r from-slate-400 via-slate-200 to-gray-300"></div>
      <main class="flex-grow relative">
        <div id="flash_message">
          <%= render 'shared/flash_message' %>
        </div>
        <%= render 'shared/loading_hud' %>
        <%= yield %>
      </main>
      <footer>
        <%= render 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>
